<div>
  <div class="row">
    <div class="column">
      <video id="localVideo" autoplay></video>
    </div>

    <div class="column">
      <video id="remoteVideo" autoplay></video>
    </div>
  </div>

  <button id="connect">Connect</button>
  <button id="disconnect" disabled="true">Disconnect</button>
</div>

<div id="editor">
